<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <thymeleaf th:replace="fragment_head :: head"/>
    <title>welcome</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="navbar-header">
            <a class="navbar-brand" href="/admin/objects"><span style="color: #ffffff;">Admin panel</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form th:action="@{/logout}" method="POST">
                        <button class="btn btn-link" type="submit" value="logout" style="color: #ffffff; padding: 15px">
                            logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="starter-template" align="center">
        <h3>Welcome, <span sec:authentication="name"></span></h3>
    </div>
</div>
</body>
</html>
